export const firebaseConfig = {
  apiKey: 'AIzaSyDbyWr0RU-37V1Wws-OTQ_a67Ykyb1DtVk',
  authDomain: 'devfest-delorean.firebaseapp.com',
  databaseURL: 'https://devfest-delorean.firebaseio.com',
  projectId: 'devfest-delorean',
  storageBucket: 'devfest-delorean.appspot.com',
  messagingSenderId: 'matt@gdgla.org',
  // Firebase node which your data will be stored (ex. 2017)
  devfestYear: '2019',
  // Your Google Maps API key
  mapsKey: 'AIzaSyBGrFmuNFiD6ciRyjJSAOqigysVK4Y_csE'
};
